/*.Blogdisplay {
    background-color: grey;

    
    /* display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: right;
    align-content: flex-start;     
}*/

/*.container {
    top: 800px;


    

}*/
/* .Blogdisplay .container {
    /* position: relative;
    left: 600px;
    text-align: left;
    width: 50%; 
} */


.searchbar {
    left: 600px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100%;
}
/*.col {
    left: 600px;
    position: absolute;
    text-align: left;
    top: 400px;
    margin-bottom: 25px;
    width: 100%;
}

.test {
    margin-bottom: 10px;
}*/
/* .Blogdisplay .container {
    background-color: red;
    
}

.Blogdisplay .flexbox-container {
    margin: 100px;
    background-color: rgb(196, 198, 204);
    padding-right: 100px;
} */


.FinancialStatements {
    background-color: greenyellow;
}
.statements {
    margin-left: 100px;
}
.SignIn .container {
    left: 600px;
    top: 500px;
    position: absolute;
    text-align: left;
    width: 100%;
    
}

