.Blogdisplay {
    margin: 100px 500px 100px 100px;
    
    /* display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: right;
    align-content: flex-start;     */
}

/* .Blogdisplay .container {
    background-color: red;
    
}

.Blogdisplay .flexbox-container {
    margin: 100px;
    background-color: rgb(196, 198, 204);
    padding-right: 100px;
} */


