
.row {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: right;
    align-content: flex-end;    
}

.container {
    background-color: red;
    
}

.flexbox-container {
    margin: 25px 25px 25px 25px;
    background-color: rgb(196, 198, 204);
}