
.Modal.xl {
    height: 150vh;
    overflow-y: auto;

}


.ModalChart .example {
    position: relative;
    left: 20px;
    bottom: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

}

.Header {
}

.page-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

