/* .ModalChart .fluid-container {
    max-height: 100%;
    position: absolute;
    overflow: scroll; 

}*/
.Modal.xl {
    height: 150vh;
    overflow-y: auto;

}

/* .ModalBody {
    height: 80vh;
    overflow-y: auto;

} */

.ModalChart .example {
    position: relative;
    left: 20px;
    bottom: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

}